<!-- HOME PAGE -->
{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = '/js/quiz_identify_culprit.js') }}"></script>

<h1>Quiz: Identify Culprit</h1>

<div>Click on the culprit.</div>

<div class="feedback"></div>

<div id="suspects" class="tab-panel container">
    <div class="row">
        {% for i in range(1,7) %}
        <div class="col-md-2">
            <div id="{{i}}" class="suspect-card text-center">
                <img src="{{ suspects[i|string]['suspect_image'] }}" alt="" class="img-fluid">
                <div>{{ suspects[i|string]['name'] }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<a href="/quiz/11" class="btn btn-outline-dark d-none">Clues</a>
<a href="/quiz/{{ id }}" class="btn btn-outline-dark d-none">Try Again</a>

<a href="/" class="btn btn-dark home-btn">Back to Home</a>
{% endblock %}